.qwe {
  font-weight: 700;
  font-size: 50px;
}

.qwe .rew {
  font-weight: 700;
  font-size: 50px;
}

.qwe .xvcb {
  font-weight: 700;
  font-size: 50px;
}

.qwe .sdf {
  font-weight: 700;
  font-size: 50px;
}

.qwe .sdf {
  font-weight: 700;
  font-size: 50px;
}